html,body { height 70%;
}
body{
	margin: 0;
	color: #585257; 
	background-color: #d3dcd8;
}
h1 {
	margin:0;
	padding: 0.4em;
	font-size: large;
	font-weight: normal;
	color: #ffffff;
	background-color: #b3c8c9;
}
p{
	margin: 7.2em auto;
	padding:1.8em;
	border-radius: 13px;
	width: 23em;
	line-height: 1.8;
	background-color: rgba(255, 255, 255, 0.518);
}



.list {
    list-style-type: disc;
    list-style-position: inside ;
	    padding: 2em;
    border: 3px solid #b3c8c9;
	background-color: #ffffff;
   
}

.list li {
    padding: 0.5em;
}

.list li:not(:last-child) {
    border-bottom: 2px dashed #b3c8c9;
}

.list li::marker {
    color: #b3c8c9;
    font-size: 2.1em;
}

.name {
    justify-content: center;
    align-items: center;
    width: 165px;
    padding: .5em 3em;
	background-image: repeating-linear-gradient(-45deg, #eee, #eee 1px, #ffffff 1px, #ffffff 4px);
    color: #525151;
    border: 1px solid #585257;
    border-radius: 8px;
    font-weight: 400
    font-size: 1em;
    
}

.name:hover {
    box-shadow: 0 7px 30px -5px #585257;
}


h3 {
	margin: 7.2em auto;
	padding:0.4em;
	border-radius: 1px;
	width: 24em;
	line-height: 2.8;
	background-color: rgba(255,255,255,0.2);
}
